<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>{{project.name}}</title>
	<link rel="stylesheet" href="{{doc_root}}/assets/js/prettify/prettify.css?v=1" type="text/css" />
	<link rel="stylesheet" href="{{doc_root}}/assets/css/styles.css?v=1" type="text/css" />
	<link rel="stylesheet" href="/{{css_include}}" type="text/css" />
	<script src="{{doc_root}}/assets/js/prettify/prettify.js?v=1"></script>
</head>
<body onload="prettyPrint()">

	<header>
		<h1>{{project.name}}</h1>
		<p class="version">v.<strong>{{project.version}}</strong></p>
		<p class="description">{{project.description}}</p>
	</header>

	<div id="wrapper">

		<nav role="main">
			<h2>Table of Contents</h2>
			{{{ tree toc }}}
		</nav>

		<div class="styleguide">

			<h3 id="{{title}}">{{title}}</h3>

			{{#files}}
			<div class="file">

				{{#blocks}}

					<div class="block" id="{{section.id}}">

						<div class="info">
							{{#if type}}
							<p class="state"><strong><em>@{{type}}</em></strong></p>
							{{/if}}
							<h4>{{name}}</h4>
							{{#if description}}
								<p class="description">{{description}}</p>
							{{/if}}

							{{#param}}
								<p class="state"><strong>{{name}}</strong> - <em>{{description}}</em>{{#if default}} - <strong>{{default}}</strong>{{/if}}</p>
							{{/param}}

							{{#state}}
								<p class="state"><span>{{name}}</span> - {{description}}</p>
							{{/state}}
						</div>

						{{#example}}
							<div class="example">
								{{{example}}}
							</div>
						{{/example}}

						{{#if markup}}

							<div class="example">
								{{{markup.example}}}
							</div>

							{{#state}}
								<div class="example state {{escaped}}">
									<div class="name">{{name}}</div>
										{{ compilePartial ../this escaped }}
								</div>
							{{/state}}

<pre class="prettyprint lang-html markup">
{{{markup.escaped}}}
</pre>

						{{/if}}

				</div>
				{{/blocks}}

			</div>
			{{/files}}

		</div>

	</div>

	<footer>
	</footer>

</body>
</html>
